html {
  background-color: #283747;
}
body {
  width: 100%;
}
title {
  font-size: 200%;
  color: white;
  margin: auto;
}
h1,
h2,
h3 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: capitalize;
  color: white;
}
p {
  font-family: "Quicksand", sans-serif;
  color: white;
}
#header {
  text-align: center;
  background-color: #28b463;
  padding: 20em;
}
#details {
  margin: 3em;
}
#content {
  margin: auto;
  margin-bottom: 10em;
  padding: 5em;
  width: 75%;
  height: auto;
}
#content h2 {
  text-align: center;
}
#content p {
  text-align: left;
  border: 1.5px solid white;
}
#content img {
  vertical-align: top;
  max-height: 450px;
}
#history,
#present,
#future {
  margin: 5em;
  padding: 3em;
}
div {
  margin-bottom: 50px;
}

#footer {
  text-align: center;
  margin: 4em;
}
#details {
  text-align: center;
}
